{% extends "base.html" %}
{% block title %}Staff Page{% endblock %}
{% block content %} 
{% include 'topnav.html' %}
 <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for worker in workers %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{ worker.username }}</td>
                            <td>{{ worker.email }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>



    <!--End Table-->
{% endblock %}